<!-- templates/index.html -->
<main th:fragment="content" class="container mx-auto px-4 py-8">
    <div class="text-center">
    <h2 class="text-3xl font-bold mb-4">Bem-vindo ao Gerenciador de Ordens de Serviço</h2>
    <p class="text-gray-700 mb-6">Gerencie suas ordens de serviço de forma simples e eficiente.</p>
    <div class="flex justify-center space-x-4">
        <a th:href="@{/orders}" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-700">
            Ver Ordens de Serviço
        </a>
        <a th:href="@{/ordersForm}" class="bg-emerald-400 text-white px-6 py-2 rounded hover:bg-emerald-500">
            Nova ordem de serviço
        </a>
        <a th:href="@{/orders}" class="bg-stone-600 text-white px-6 py-2 rounded hover:bg-stone-700">
            Novo serviço
        </a>
    </div>
</div>
</main>
